---

---

<h1>SignIn</h1>
<form method="post">
    <label for="email">Email
        <input type="text" id="email" name="email" required />
    </label>
    <label for="password">Password
        <input type="password" id="password" name="password" required />
    </label>
    <button id="login" type="submit">Sign in</button>
</form>
<script>
    import { client } from "../lib/auth-client";

    const login = document.getElementById('login');
    if (login) {
        login.addEventListener('click', async (e) => {
            e.preventDefault();
            const email = (document.getElementById('email') as HTMLInputElement)?.value;
            const password = (document.getElementById('password') as HTMLInputElement)?.value;
            await client.signIn.email({ email, password, callbackURL: '/dashboard' });
        });
    }
</script>